header {
  background-color: #FF0000;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

header .logo-icon {
  background-image: url("../images/logo.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

header h1 {
  color: white;
  line-height: 70px;
}
